.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #eaf1f1;
  padding: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #eaf1f1 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper .popover__content {
  z-index: 10;
  opacity: 1;
  width: 300px;
  top: -15px;
  left: 748px;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

@media only screen and (max-width: 850px) {
  .popover__wrapper .popover__content {
    top: -15px;
    left: 308px;
  }
}

@media only screen and (max-width: 765px) {
  .popover__wrapper .popover__content {
    top: -15px;
    left: 189px;
  }
}
